.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: 0.5rem outset dimgrey;
  outline: 0.5rem solid lightslategray;
  transition: 0.4s;
}
